- return unless @group.feature_available?(:custom_file_templates_for_namespace)

%section.settings.gs-advanced.no-animate#js-templates{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Templates')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Set a template repository for projects in this group')
  .settings-content
    = form_for @group, url: group_path, html: { class: 'fieldset-form' } do |f|
      = form_errors(@group)

      %fieldset
        .form-group
          = f.label :file_template_project_id, class: 'label-light' do
            .form-text.text-muted
              = _('Select a template repository')
              = link_to icon('question-circle'), help_page_path('user/group/index.md', anchor: 'group-level-file-templates-premium'), target: '_blank'
          = project_select_tag('group[file_template_project_id]', class: 'project-item-select hidden-filter-value', toggle_class: 'js-project-search js-project-filter js-filter-submit', dropdown_class: 'dropdown-menu-selectable dropdown-menu-project js-filter-submit',
            placeholder: _('Search projects'), idAttribute: 'id', data: { order_by: 'last_activity_at', idattribute: 'id', simple_filter: true, allow_clear: true}, value: @group.checked_file_template_project_id)
      = f.submit _('Save changes'), class: "btn btn-success"
